:root {
	--mint-green: #93e4c1;
  --light-teal: #3baea0;
  --medium-teal: #118a7e;
  --dark-teal: #1f6f78
} 

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--mint-green);
}



footer {
  margin-top: 50px;
  padding: 20px;
  background: var(--dark-teal);
  color: white;
  text-align: center;
}

footer .btn {
  margin: 0 10px;
  background: var(--light-teal);
}

footer p {
  margin-top: 15px;
  font-size: 0.9rem;
}
