:root {
	--mint-green: #93e4c1;
  --light-teal: #3baea0;
  --medium-teal: #118a7e;
  --dark-teal: #1f6f78
} 
	
	.first-color { 
	background: #93e4c1; 
}
	
.second-color { 
	background: #3baea0; 
}

.third-color { 
	background: #118a7e; 
}

.fourth-color { 
	background: #1f6f78; 
}

