:root {
	--mint-green: #93e4c1;
  --light-teal: #3baea0;
  --medium-teal: #118a7e;
  --dark-teal: #1f6f78
} 

body {
  margin: 0;
  background: var(--mint-green);
  font-family: Arial, sans-serif;
}

/* -------------------- EVENT GRID -------------------- */

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
  gap: 30px;
  padding: 40px;
}

/* Each teal box */
.event-card {
  background: var(--medium-teal);
  padding: 20px;
  border-radius: 15px;
  color: white;
  text-align: center;
}

/* Event images */
.pictures {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* -------------------- Buttons -------------------- */

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: var(--light-teal);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* -------------------- Footer -------------------- */

footer {
  text-align: center;
  padding: 20px;
}

