:root { 
  --mint-green: #93e4c1; 
  --light-teal: #3baea0; 
  --medium-teal: #118a7e; 
  --dark-teal: #1f6f78;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--mint-green);
}

header {
  background: var(--dark-teal);
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; 

  position: relative; 
  width: 100%;
  height: 175px; 
}

header img {  
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  width: 100%;
  height: auto;
  max-height: 120px;
  object-fit: cover; 
  margin: 60px auto 0;
  position: relative;
} 

nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  color: var(--mint-green);
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover{
  color: var(--light-teal);
}

.events {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;      /* lets items wrap to the next row */
  justify-content: center;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}

.events h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: var(--dark-teal);
  text-decoration: underline;
} /* "upcoming events" */

.event-card {
  background: var(--light-teal);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  text-align: center;

  flex: 1 1 calc(50% - 40px); /* 2 per row, minus the gap */
  max-width: 550px;           /* keeps widths consistent */
  box-sizing: border-box;
}

.pictures {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--medium-teal);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.btn:hover {
  background: var(--mint-green);
}

summary:hover{
  cursor: pointer;
}

.artist-container img {
  max-width: 600px;  
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;     /* centers it */
}

footer {
  margin-top: 50px;
  padding: 20px;
  background: var(--dark-teal);
  color: white;
  text-align: center; 
}

footer p {
  margin-top: 15px;
  font-size: 0.9rem;
}

